version: "{{ docker_compose_version }}"

services: 
{% for service in docker_compose_services %}
  {{ service.name | default('app' + loop.index|string) }}:
    conteiner_name: "{{ service.name | default('app' + loop.index|string) }}"
     image: {{ service.image }}
    expose:
      - "{{ service.port | default('80') }}"
{% endfor %}